:global(.ui.container .ui.form .fields) {
    justify-content: center;
    margin: 1em -0.5em;
}

:global(.ui.form .ui.label) {
    border-radius: 0;
}

:global(.ui.form .error.field) {
    display: flex;
    align-items: center;
}

:global(.fileContainer) {
    background: #cccccc;
    font-size: 1.1em;
}

:local(.recipeTitlePlaceholder) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 420px;
}

:local(.reverseBox) {
    display: flex;
    align-items: center;
    flex-direction: row-reverse; 
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}
