:global(.ui.container) {
  :global(.ui.form) {
    :global( .ui.label) {
      border-radius: 0;
    }
    :global(.error.field) {
      display: flex;
      align-items: center;
    }
    :global(.fields) {
      justify-content: center;
      margin: 1em -0.5em;
    }
  }
}

:local(.mainHeading) {
  // text-align: start;
}

:global(.fileUploader) {
    // background: #cccccc;
    // font-size: 1.1em;
    height: calc(100% - 50px);
    // display: flex;
    // justify-content: center;
    // align-items: center;
}

:global(.fileContainer) {
  background: #cccccc;
  margin: 0;
  font-size: 1.1em;
  height: 100%;
}


:local(.recipeTitlePlaceholder) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 420px;
}

:local(.reverseBox) {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    width: 100%;
}
