:local(.recipeListHeader) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

:local(.recipeListGrid) {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(267px, 1fr));
    h3 {
        color: #3d3d3d;
        font-size: 1.5em;
        font-weight: lighter;
        text-align: center;
    }
    p {
        word-break: break-word;
        text-align: center;
        font-weight: 400;
        line-height: 1.03em;
    }
}

:global(.ui.container .ui.segment):local(.recipeListBox) {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 2px solid #f2f2f2;
    margin: 0;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 2px;
}

:local(.recipeListContent) {
    padding: 12px;
}

:local(.recipeLabels) {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
}

:global(.ui.label):local(.recipeLabel) {
    display: flex;
    background-color: #ffffff;
    color: #8c8c88;
    font-size: 1.1em;
    font-weight: 600;
    border: 4px solid #f2f2f2;
    padding: 5px 7px;
    border-radius: 13px;
}

:local(.recipeListFooter) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    color: #bbbbbb;
    border-top: 2px solid #f2f2f2;
}

:global(.ui.container .ui.fluid.image):local(.recipeImg) {
    margin: 0;
    height: 295px;
}
