:global(.ui.form .ui.dropdown .menu > *) {
    white-space: initial;
}

:global(.ui.form .ui.fluid.multiple.search.selection.dropdown) {
    border: 1px solid #bbbbbb;
    border-radius: 0;
    font-size: 1.1em;
    color: #333333;
}

:global(.ui.form .ui.selection.dropdown .menu) {
    border-radius: 0;
}

:global(.ui.form .visible.menu.transition) {
    width: initial !important;
    min-width: -webkit-fill-available !important;
}