:global(.ui.form .ui.dropdown .menu > *) {
    white-space: initial;
}

:global(.ui.form .ui.fluid.multiple.search.selection.dropdown) {
    border: 1px solid #bbbbbb;
    border-radius: 0;
    font-size: 1.1em;
    color: #333333;
}

:global(.ui.form .ui.selection.dropdown .menu) {
    border-radius: 0;
}

:global(.ui.form .visible.menu.transition) {
    width: initial !important;
    min-width: -webkit-fill-available !important;
}

:global(.ui.container .ui.statistics) {
    justify-content: space-evenly;
    :global(.ui.statistic .label) {
        text-transform: capitalize;
        font-size: 1.2em;
        color: #767676;
    }
}

:local(.ingrediens) {
    text-align: center;
    font-size: 1.3em;
    font-weight: 500;
    word-break: break-all;
}