:global(.ui.form .field textarea) {
    border: 1px solid #bbbbbb;
    border-radius: 0;
    padding: 8px 4px;
    font-size: 1.3em;
    color: #333333;
    &:focus {
        border-radius: 0;
    }
}

:global(.vertical-timeline) {
    margin: 0;
    padding: 0 0 2em 0;
}

:global(.vertical-timeline::before) {
    background: #2f3032;
    width: 2px;
}

:global(.ui.container .vertical-timeline-element-icon.bounce-in) {
    background: #ffffff;
    color: #2f3032;
    border: 1px solid #2f3032;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    box-shadow: none;
}

:global(.ui.container .vertical-timeline-element-content.bounce-in) {
    box-shadow: none;
    word-break: break-word;
    &:hover {
        :local(.closeButton) {
            display: block;
            cursor: pointer;
            :global(.i.icon) {
                font-size: 0.8em;
            }
        }
        :local(.editButton) {
            display: block;
            cursor: pointer;
            :global(.i.icon) {
                font-size: 0.8em;
            }
        }
    }

}

:global(.ui.container .vertical-timeline-element-content.bounce-in p) {
    margin: 0;
    font-size: 1.1em;
    width: 85%;
}

:global(.ui.container .ui.primary.icon.button):local(.addStepButton) {
    border-radius: 50%;
    background: #ffffff;
    color: #2f3032;
    border: 1px solid #2f3032;
}

:local(.closeButton) {
    position: absolute;
    top: 0;
    right: 2px;
    display: none;
}

:local(.editButton) {
    position: absolute;
    top: 0;
    right: 20px;
    display: none;
}