:local(.headerLogo) {
    max-width: 100%;
    margin-bottom: 10px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../../styles/assets/images/header-logo.jpg') no-repeat center center;
    h2 {
        text-transform: uppercase;
        color: #ffffff;
        font-weight: 700;
        font-size: 2.2em;
    }
}

:local(.headerLogoInfo) {
    width: 220px;
    text-align: center;
}

:local(.headerLogoDivider) {
    color: #ffffff;
}